<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- namespace:该xml对应的哪个mapper接口 -->
<mapper namespace="com.hdgs.great.object.repository.AppraiseRepository">

    <!-- 插入新的评价数据 -->
    <!-- Integer insert(Appraise appraise) -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
		INSERT INTO t_appraise (
			aid,oid,
			grade,content,
			created_User,created_Time,
			modified_User,modified_Time
		) VALUES (
			#{aid},#{oid},
			#{grade},#{content},
			#{created_User},#{created_Time},
			#{modified_User},#{modified_Time}
		)
	</insert>

    <!-- 根据评价id删除对应数据 -->
    <!-- Integer deleteByAid(Integer aid); -->
    <delete id="deleteByAid">
		DELETE FROM
			t_appraise
		where
			aid=#{aid}
	</delete>

    <!-- 根据评价id查询对应数据 -->
    <!-- Appraise findByAid(Integer aid); -->
    <select id="findByAid" resultType="com.hdgs.great.object.domain.Appraise">
		SELECT
			aid,oid,
			grade,content
		FROM
			t_appraise
		WHERE
			aid=#{aid}
	</select>

	<!-- 根据订单id查询对应评价数据-->
	<!-- Appraise findByOid(Integer Oid);-->
	<select id="findByOid" resultType="com.hdgs.great.object.domain.Appraise">
		SELECT
			aid,oid,
			grade,content
		FROM
			t_appraise
		WHERE
			oid=#{oid}
	</select>

</mapper>
