<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- namespace:该xml对应的哪个mapper接口 -->
<mapper namespace="com.hdgs.great.object.repository.NotificationRepository">

	<!-- 测试成功 -->
	<!-- 插入新的通知数据-->
	<!-- Integer insertByNotification(Notification notification); -->
	<insert id="insertByNotification" useGeneratedKeys="true" keyProperty="nid">
		INSERT INTO t_notification (
		    from_Open_Id,from_Uid,
		    to_Open_Id,to_Uid,
		    title,message,
		    created_User,created_Time,
			modified_User,modified_Time
		) VALUES (
		    #{from_Open_Id},#{from_Uid},
		    #{to_Open_Id},#{to_Uid},
		    #{title},#{message},
		    #{created_User},#{created_Time},
			#{modified_User},#{modified_Time}
		)
	</insert>

	<!-- 测试成功 -->
	<!-- 根据通知数据的id和被通知的openid删除对应的通知数据 -->
	<!-- Integer delete(String to_Open_Id,Integer nid);-->
	<delete id="delete">
		DELETE FROM
			t_notification
		WHERE
			nid=#{nid} AND to_Open_Id=#{to_Open_Id}
	</delete>


	<!-- 查询通知的数量 -->
	<!-- Integer countAll();-->
	<select id="countAll" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			t_notification
	</select>

	<!-- 测试成功 -->
	<!-- 根据被通知的openid查询通知数据 -->
	<!-- Notification[] findByToopenid(String toopenid);-->
	<select id="findByToopenid" resultType="com.hdgs.great.object.domain.Notification">
		SELECT
			*
		FROM
			t_notification
		WHERE
			to_Open_Id=#{to_Open_Id}
		ORDER BY nid DESC
	</select>

	<!-- 测试成功 -->
	<!-- 根据通知id查询对应通知数据 -->
	<!-- Notification findById(int nid);-->
	<select id="findById" resultType="com.hdgs.great.object.domain.Notification">
		SELECT
			*
		FROM
			t_notification
		WHERE
			nid=#{nid}
	</select>


</mapper>
